@charset "utf-8";
/* CSS Document */

@media (min-width: 1200px) {
.page-top-bar .container, 
header.navbar .container .page-top-bar + .container {
	width: 1170px!important;
}
	
}

.loginbox .loginform .form-input { /*add to line 1381*/
	 width: 100%!important;	
}

.span3.top-social-icons {
    margin-left: 0;
}

.landing-page .page-top-bar .container .userbutton {
    height: 38px!important;
}
ul.nav-inner {
	margin-left: 0;	
}

.userbutton {  /*change to line 273*/
    height: 28px!important;
}

#region-main li {
	line-height: 24px;
}

#region-main .singlebutton {
	margin-top: 20px;
}

button.atto_title_button img.icon:last-child {
    opacity: 0.4;
	margin-left: 5px;
}


a.dropdown-toggle:hover,
a.dropdown-toggle:active {
	text-decoration: none;
}

.navbar {
    margin-bottom: 0!important;
}

#page-header {
    padding-top: 12px;
}

.login-regin-main { 
	margin: 50px 0 40px 0;
}

.navbar .nav a:hover { /*update this class*/
	color: #222;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
    transition: all 0.4s ease 0s;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle:hover .caret {
    border-top-color: #222 !important;
	transition: all 0.4s ease 0s;
}

.carousel-control { /*update this class*/
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0!important;
}


.navbar .nav > li > a:hover { /*update this class*/
	color: #363636!important;
}

.dropdown-menu {
	margin: 0!important;	
}

.navbar .nav > li > .dropdown-menu a:hover {
	color: #e67e22;
}

.usermenu.dropdown .dropdown-menu > li > a:hover {
	color: #e67e22;
}

.atto_menu .dropdown-menu li {
	border-bottom: solid 1px rgba(255, 255, 255, .05);

}

.atto_menu .dropdown-menu li:last-child {
	border-bottom: none;

}

#page input.form-submit, #page input[type="button"], #page input[type="submit"], #page input[type="reset"], #page input.form-submit, #page input#id_submitbutton, #page input#id_submitbutton2, #page .path-admin .buttons input[type="submit"], #page td.submit input, #page #notice .singlebutton + .singlebutton input  { /*add to line 1589*/
    text-shadow: none;
}




/*#page-content #region-main input[type="submit"],
#page-content #region-main .submit.buttons input[name="cancel"] {*/ /*add to line 1591*/
	/*background: #4b4b4b;
    border: 0 none!important;
    border-radius: 5px!important;
    color: #fff!important;
    padding: 7px 12px;
    transition: all 0.4s ease 0s;
	text-shadow: none;
}*/

#page-content #region-main input[type="submit"].form-submit,
#page-content #region-main .fitem_fgroup .oneclickbackup,
#page-content #region-main .fitem_fgroup .proceedbutton {
    background-color: #e67e22!important;
	border: 1px solid rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
	padding: 10px 20px!important;
}

#page-content .editor_atto_toolbar button:hover {
    background-color: #ebebeb!important;
    background-image: radial-gradient(ellipse at center center , #fff 60%, #dfdfdf 100%)!important;
}

.block {
    box-shadow: none!important;
}

.quick-link ul li:first-child  {
	font-weight: bold;
}

.userselector { 
	padding-bottom: 15px;
}

.docked-region-side-post #region-main .course-item,
.docked-region-side-pre #region-main .course-item,
.side-post-only #region-main .course-item {
    margin: 1.25%;
    width: 30.75%;
}

.content-only #region-main .course-item {
  	margin: 1%;
    width: 23%;
}

.docked-region-side-post #region-main .search-wr,
.docked-region-side-pre #region-main .search-wr {
    text-align: right;
	margin-right: 18px;
}

.search-wr { /*update class*/
    margin-bottom: 20px;
}

.btn-show-more-wr {
	width: 100%;
    position: relative;
	text-align: center;
	clear: both;
}

.btn-show-more-wr .btn-show-more {
	display: inline-block;
	padding:8px 15px;
	border-radius: 5px;
	background-color: #a8a8a8;
    border: solid 1px #7c7c7c;
    box-shadow: 0 2px 0 0 #7c7c7c;
	color: #FFF!important;
	margin-top: 20px;
	transition: all 0.4s ease 0s;
}

.btn-show-more-wr .btn-show-more:hover {
	background-color: #7c7c7c;
	transition: all 0.4s ease 0s;
	text-decoration: none;
}

.docked-region-side-post #region-main .btn-show-more-wr,
.docked-region-side-pre #region-main .btn-show-more-wr {
	text-align: right;
	margin-right: 18px;
}

.content-only #region-main.span8,
.docked-region-side-post #region-main.span8,
.docked-region-side-pre #region-main.span8 {
    padding-left: 10px;
}
 {
    padding-left: 0;
}


#block-region-side-pre p,
#block-region-side-post p {
	margin-bottom: 10px!important;	
}



#region-main.span8 {
    padding-left: 10px;
}

.empty-region-side-post.used-region-side-pre #region-main-box {
    width: 100%;
}

.block .header h2 { /*update line 1148*/
    font-family: "robotomedium" ;
}

#block-region-side-pre a,
#block-region-side-post a {/*add to line 1125*/
    color: #5c5c5c !important;
}

#page-content #block-region-side-pre .footer a,
#page-content #block-region-side-post .footer a {
	color: #e67e22;
}

.block_course_overview .content h2.title {
    font-size: 16px;
	font-family: "robotomedium";
	line-height: 25px;
}


.course-content ul li.section.main {
    border-bottom: 1px solid #ddd!important;
}

h3.sectionname {
	font-size: 16px;	
}


.adminsearchform input[type="submit"] {
	border: 0;	
}

#maincontent + h2,
.coursecat-management-header h2,
.settingsform input + h2 {
    font-size: 16px;
    text-transform: uppercase;
	font-family: "robotomedium" ;
	margin-top: 1px;
}

.block_news_items .content ul li {
    padding-top: 10px;
}

#page .newsitem a:focus {
	color: #FFF!important;	
}

/*RTL fixing*/

.dir-rtl .block_adminblock .content .singleselect form div:after,
.dir-rtl #region-main .langmenu div:after {
	background: none;	
}

.dir-rtl .adminsearchform input[type="submit"] {
	margin-right: -43px;	
}

.dir-rtl .quick-link ul,
.dir-rtl .contacts-desc ul {
	margin-right: 0;
}

.dir-rtl .footer-up ul {
	float: right;
}

.dir-rtl .usermenu.dropdown i.fa {
	margin-left: 0;
	margin-right: 10px;
}

.dir-rtl .usermenu.dropdown .avatars {
    margin-right: 0;
	margin-left: 10px;
}

.dir-rtl .nav-inner .dropdown-menu {
    right: 25px;
}

.dir-rtl .usermenu .dropdown-menu li {
    padding-left: 0;
    padding-right: 30px;
    text-align: right;
}

.dir-rtl .dropdown.open .dropdown-menu li {
    text-align: right;
}

.dir-rtl .rememberpass input + label:before {
    margin: 0 10px;
}

.dir-rtl .moodle-dialogue-hd, 
.dir-rtl .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd, 
.dir-rtl .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd{
	text-align: right!important;	
	padding-right: 15px!important;
}

.dir-rtl .offset1.home-contact-form {
    float: left;
    text-align: left;
}

/* Calendar start*/

#block-region-side-post .block.block_calendar_month .content,
#block-region-side-pre .block.block_calendar_month .content {
	padding: 0!important;
}

#block-region-side-post div.minicalendarblock {
    margin-bottom: 20px;
}

#block-region-side-pre div.minicalendarblock {
    margin-left: -12px;
	margin-right: -12px;
}


.block .calendartable .calendar-controls a,
div.minicalendarblock caption a {
	text-shadow: none;
}

.block .calendartable .calendar-controls a.arrow_link  {
	width: 17%;
	display: inline-block;
	padding: 15px 0;
	box-sizing: border-box;
	text-align: center;
}

#block-region-side-post .block .minicalendar th,
#block-region-side-pre .block .minicalendar th, 
#block-region-side-post .block .minicalendar td {
    padding: 6px!important;
	text-transform: uppercase;
}

#block-region-side-pre .block .minicalendar td {
    padding: 6px!important;
	text-transform: uppercase;
}

.block .minicalendar tr:last-child td {
	border-bottom: none;
}

.block .minicalendar tr td:last-child {
	border-right: none;
}

.block .minicalendar th abbr {
	border-bottom: none!important;	
}

#block-region-side-post .block .calendartable .calendar-controls span.current,
#block-region-side-pre .block .calendartable .calendar-controls span.current {
	padding: 15px 0;
	box-sizing: border-box;
	width: 65%;
	font-size: 115%;
	font-weight: bold;
}

.block.block_calendar_month .content h3.eventskey {
	text-shadow: none;
}

.block.block_calendar_month .content .filters.calendar_filters {
	margin-left: 15px;
	margin-bottom: 15px;
}

#block-region-side-post .block .minicalendar td {
	font-size: 1em!important;
}

#block-region-side-pre .block .minicalendar td {
	font-size: 1em!important;
}

#block-region-side-post .block .calendar-event-panel .yui3-overlay-content {
    border-radius: 0;
    padding: 19px;
	margin: 0;
}

#block-region-side-post .block .minicalendar th{
	border: none;
}

#block-region-side-pre .block .minicalendar th {
	border: none;
}

/*-----------------------*/

#block-region-side-pre .block .minicalendar td {
	color: #222;	
}

#block-region-side-pre .block .calendartable,
#block-region-side-post .block .calendartable {
	background-color: #e7eaf3;
}

#block-region-side-post .block .calendartable .calendar-controls span.current,
#block-region-side-pre .block .calendartable .calendar-controls span.current {
	border-right: solid 1px rgba(0, 0, 0, .1);
	border-left: solid 1px rgba(0, 0, 0, .1);
}

#block-region-side-post .block .minicalendar td {
	border-right: 1px solid rgba(85, 85, 85, 0.2);
	border-bottom: 1px solid rgba(85, 85, 85, 0.2);
}

#block-region-side-pre .block .minicalendar td {
	border-right: 1px solid rgba(85, 85, 85, 0.1);
	border-bottom: 1px solid rgba(85, 85, 85, 0.1);
}

#block-region-side-post .block .calendar-event-panel .yui3-overlay-content {
    background-color: #fdfdfd;
    border: 1px solid #e3e3e3;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	color: #333;
}

#block-region-side-pre .block .minicalendar th,
#block-region-side-post .block .minicalendar th  {
	background-color: #4f4f4f;
	color: #FFF;
}

.block .minicalendar caption {
	background: #e67e22;
	color: #FFF;
	border-radius: 3px 3px 0 0;
}

.block .minicalendar .today {
	background: #e67e22;
	color: #FFF;
}

#block-region-side-pre .block .minicalendar .today a,
#block-region-side-post .block .minicalendar .today a {
    color: #fff !important;
}

#block-region-side-post .block .minicalendar caption a,
#block-region-side-pre  .block .minicalendar caption a {
	color: #FFF!important;
}

#block-region-side-post .block .minicalendar caption a:hover,
#block-region-side-pre  .block .minicalendar caption a:hover {
	text-decoration: none;
}

/* Calendar end*/

/*doc view*/

body.has_dock #page {
    padding-left: 0!important;
    padding-right: 0!important;
}

#dock .dockedtitle {
    color: #FFF!important;
    text-shadow: none!important;
	background: #e67e22;
	border-radius: 0!important;
	border: 0;
}

#dockeditempanel .dockeditempanel_content {
    background-color: #d6d6e0!important;
    border: 1px solid #cbcbcd!important;
}

#dockeditempanel .dockeditempanel_content a {
  color: #5c5c5c !important;
}

#dockeditempanel .dockeditempanel_hd h2 {
    color: #333!important;
    font-size: 16px!important;
    text-shadow: none!important;
	font-family: "robotomedium" ;
}

/*doc view*/

@media (max-width: 980px) {
	
.navbar-inner .dropdown { 
	border: none!important;
} 

.navbar-inner .dropdown .dropdown-menu li {
	border-top: none!important;
} 

.navbar-inner .dropdown .dropdown-menu li.divider {
	margin: 0!important;
} 

.navbar-inner .dropdown .dropdown-menu li a {
	font-size: 15px!important;
	color: #FFF!important;
	padding: 15px 0;
} 

.navbar-inner .dropdown .dropdown-menu li a:hover {
	color: #000!important;
} 

.navbar-inner .dropdown .dropdown-submenu > a:after {
	position: absolute;
	 left: 200px;
    opacity: 1;
    position: absolute;
    top: 16px;
	transform: rotate(90deg);
}

.navbar-inner .dropdown.open .dropdown-menu {
	border-top: 1px solid rgba(0, 0, 0, .1) !important;
}

.navbar-inner .dropdown .dropdown-menu li.divider {
    background: rgba(0, 0, 0, .1)  !important;
}


}
