/* Custom CSS
-------------------------*/
#sticky-wrapper .navbar .nav > li > a,
.logining-wr input,
input[type="submit"],
.sitelogo-text,
.sitelogo-img,
.sitelogo-icon-name,
#block-region-side-pre .block .header h2,
#block-region-side-post .block .header h2,
input.srch-fld,
input[type="text"],
.adminsearchform input[type="text"],
select, 
.news-updates-header a, 
input[type="file"],
.logining-wr input, 
.home-contact-form h4, 
.img-area-content h6,
.home-contact-form button,
.parallax-content .accordion-heading .accordion-toggle,
.parallax-content .accordion-inner h1,
.parallax-content .accordion-inner h2,
.parallax-content .accordion-inner h3,
.parallax-content .accordion-inner h4,
.parallax-content .accordion-inner h5,
.parallax-content .accordion-inner h6, 
.featured-courses .course-item h6, 
.featured-courses .course-item h5, 
.featured-courses .course-item h4,
.news-update h3,
#maincontent + h2,
.coursecat-management-header h2,
.settingsform input + h2 {
  font-family: [[setting:headingfont]];
}



.img-desc-heading p,
textarea,
body {
    font-family: [[setting:bodyfont]];
}

body {
    padding: 0 !important;
}
h4 {
    margin: 0;
}


/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
[[setting:fontfilesheading]]
[[setting:fontfilesbody]]


.logo-wr {
    padding: 22px 15px 22px 15px;
    background: url([[setting:logobackgroundimage]]) no-repeat right bottom;
}
.static-banner {
    background: url([[setting:bannerimage]]) right top;
}

.loginpanel h2:before, a.click {
    background-image: url([[setting:logo]]);
}

/*custom color changes*/
.logining-wr input[type="submit"], .img-area ul li:hover .img-area-content, .navbar-inverse .navbar-inner,
.banner-button,
.news-update,
.block .minicalendar caption,
.block .minicalendar .today,
#dock .dockedtitle, #dock .dockedtitle:hover,
#page-content #region-main input.form-submit[type="submit"], 
#page-content #region-main .fitem_fgroup .oneclickbackup, 
#page-content #region-main .fitem_fgroup .proceedbutton,
.navbar-inverse .navbar-inner, .banner-button, 
.home-contact-form button, 
.home-contact-form button:active, 
.home-contact-form button:focus, 
.home-contact-form button:hover, 
.news-update, 
#page-content #region-main .loginbox input[type="submit"]
{
    background:  [[setting:color]];
}
.block .calendartable .weekdays {
    background-color: [[setting:color]] !important;
}
.img-area ul li:hover .img-area-content {
    border-color: [[setting:color]];
}

#page a:focus,
#page .crate-account a,
#page .parallax-content h3,
#page .parallax-content .accordion-heading a:hover,
#page .contacts-desc .position h4,
#page .footer-down a,
#page .img-slider .bxslider li a:hover,
#page .dropdown-menu > li > a:hover,
#page .dropdown-menu > li > a:focus,
#page .dropdown-submenu:hover > a,
#page .dropdown-submenu:focus > a,
.percent,
a,
a:hover,
a:focus,
.crate-account a,
.parallax-content h3,
.parallax-content .accordion-heading a:hover,
.contacts-desc .position h4,
.footer-down a,
.img-slider .bxslider li a:hover,
.dropdown-menu > li > a:hover,
.navbar .nav a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a, .usermenu.dropdown .dropdown-menu > li > a:hover, 
#page-content #block-region-side-pre .footer a, 
#page-content #block-region-side-post .footer a { 
    color: [[setting:color]] !important;
}
.banner-button:hover {
    color: #363636 !important;
}
.static-slider-1 {
    background-image: url([[setting:slideimage1]]);
}

.static-slider-2 {
    background-image: url([[setting:slideimage2]]);
}

.static-slider-3 {
    background-image: url([[setting:slideimage3]]);
}

.static-slider-4 {
    background-image: url([[setting:slideimage4]]);
}

.static-slider-5 {
    background-image: url([[setting:slideimage5]]);
}
.parallax-content {
    background-image: url([[setting:parallaxsectionbackgroundimage]]);
}

.slider-bg-color-1 {
    background-color: [[setting:sliderbgcolor1]];
}
.slider-bg-color-2 {
    background-color: [[setting:sliderbgcolor2]];
}
.slider-bg-color-3 {
    background-color: [[setting:sliderbgcolor3]];
}
.slider-bg-color-4 {
    background-color: [[setting:sliderbgcolor4]];
}
.slider-bg-color-5 {
    background-color: [[setting:sliderbgcolor5]];
}
.banner-bg-color {
    background-color: [[setting:bannerbgcolor]];
}

